<div class="menu">
  <div>
    <label for="select-speed"><strong>moves per second :</strong></label>
    <select id="select-speed" onchange={{action handleChangeSpeed}}>
      {{#each speeds key="@index" as |speed|}}
        <option value={{speed}} selected={{is-equal speed @speed}}>
          {{divide 1000 speed}}
        </option>
      {{/each}}
    </select>
  </div>

  <div>
    <strong>movement:</strong> ↑→↓← or wasd
  </div>

  <div>
    <label for="select-size"><strong>game board :</strong></label>
    <select id="select-size" onchange={{action handleChangeSize}}>
      {{#each sizes key="@index" as |size|}}
        <option value={{size}} selected={{is-equal size @size}}>
          {{size}} x {{size}}
        </option>
      {{/each}}
    </select>
  </div>
</div>