<div>

  <game-board
    @size={{state.size}}
    @direction={{state.direction}}
    @speed={{state.speed}}
    @isPaused={{state.isPaused}}
    @pauseTheGame={{action changeIsPaused true}} />

  <user-input
    @direction={{state.direction}}
    @changeDirection={{action changeDirection}}
    @isPaused={{state.isPaused}}
    @startTheGame={{action changeIsPaused false}}
    @pauseTheGame={{action changeIsPaused true}} />

  <pause-menu
    @isPaused={{state.isPaused}}
    @size={{state.size}}
    @changeSize={{action changeSize}}
    @speed={{state.speed}}
    @changeSpeed={{action changeSpeed}} />

</div>