<div class="game">
  <game-board
    @tick={{tick}}
    @size={{state.size}}
    @speed={{state.speed}}
    @isPaused={{state.isPaused}}
    @directionQueue={{state.directionQueue}}
    @incrementTick={{action incrementTick}}
    @resetTick={{action resetTick}}
    @dequeueDirection={{action dequeueDirection}}
    @dequeueAllDirection={{action dequeueAllDirection}}
    @pauseTheGame={{action changeIsPaused true}} />

</div>

<div class="etc">
  <user-input
    @tick={{tick}}
    @directionQueue={{state.directionQueue}}
    @queueDirection={{action queueDirection}}
    @replaceDirection={{action replaceDirection}}
    @isPaused={{state.isPaused}}
    @startTheGame={{action changeIsPaused false}}
    @pauseTheGame={{action changeIsPaused true}} />

  <game-settings
    @size={{state.size}}
    @changeSize={{action changeSize}}
    @speed={{state.speed}}
    @changeSpeed={{action changeSpeed}} />

</div>
