<div class="menu">
  <div>
    <strong>moves per second :</strong>
    <select onchange={{action handleChangeSpeed}}>
      {{#each speeds key="@index" as |speed|}}
        <option value={{speed}} selected={{is-equal speed @speed}}>
          {{divide 1000 speed}}
        </option>
      {{/each}}
    </select>
  </div>

  <div>
    <strong>movement:</strong> ↑→↓← or wasd
  </div>

  <div>
    <strong>game board :</strong>
    <select onchange={{action handleChangeSize}}>
      {{#each sizes key="@index" as |size|}}
        <option value={{size}} selected={{is-equal size @size}}>
          {{size}} x {{size}}
        </option>
      {{/each}}
    </select>
  </div>
</div>