<div class="board">
  {{#each board.rows key="@index" as |row|}}
    <div class="row">
      {{#each row.cells key="@index" as |cell|}}
        <div class="cell">
          <div
            class="{{if cell.hasSnake 'snake'}}{{if cell.direction (concat ' snake--' cell.direction) ' '}}{{if cell.hasFood ' food'}}"></div>
        </div>
      {{/each}}
    </div>
  {{/each}}
</div>
<p><strong>score:</strong> {{score}} ({{tick}})</p>